<!DOCTYPE html>
<html lang="en">

<head>
  <title>Web Technologies Advanced - Mastery Test</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <div class="max-w-screen-md mx-auto pt-8">
    <div class="flex justify-between">
      <h1>
        Mastery Test
      </h1>
      <img src="/image/logo.png" alt="logo" class="w-40" />
    </div>
    <hr class="my-8">

    <main>
        {{{body}}}
    </main>
  </div>
  <script src="/js/mastery.js"></script>
  <script src="/js/avatar.js"></script>
</body>

</html>